<div class="login-btn" [hidden]="session.isLogged()">
  <button (click)="toggleDisplay()">
    Login
    <i class="fi fi-caret-down" [@rotatedState]='state'></i>
  </button>
</div>
<div [hidden]="!display || session.isLogged()" class="login-window">

  <form [formGroup]="logs" (ngSubmit)="login()" [hidden]="!loginState">
    <label style="margin-right: 5px;">Username</label>
    <input type="text"  style="margin-left: 5px;" formControlName="username_input" required/>
    <label style="margin-right: 5px;">Password</label>
    <input type="password"  style="margin-left: 5px;" formControlName="password_input" required/>
    <button type="submit" [disabled]="!logs.valid">Log in</button>
    <button type="button" (click)="switch()">Sign in</button>
  </form>

  <form [formGroup]="signs" (ngSubmit)="signin()" [hidden]="loginState">
    <label for="" style="margin-right: 5px;">Username</label>
    <input type="text" style="margin-right: 5px;" formControlName="username_input" required>
    <label for="" style="margin-right: 5px;">Password</label>
    <input type="password" style="margin-right: 5px;" formControlName="password_input" required>
    <button type="submit" [disabled]="!signs.valid">Register</button>
    <button type="button" (click)="switch()">Log in</button>
  </form>

</div>

<a [hidden]="!session.isLogged()">
  {{session.getUser() ? session.getUser().getName() : 'No user found'}}
</a>
<ul [hidden]="!session.isLogged()">
  <li><button (click)="logout()">Logout</button></li>
</ul>
