<div class="main-container">
  <h2 class="page-title">Users ( {{usersService.get().length}} )</h2>


  <section>
    <button type="button" name="button" (click)="toggleUserCreation()">Create user</button>
  </section>
  <section *ngIf="toggler">
    <form>
      <label for="name-input">Username</label>
      <input type="text" name="" value="" id="name-input" #userinput />
      <button type="button" name="button" (click)="createUser(userinput.value, 'pass')">Send new user</button>
    </form>
  </section>



  <section>
    <span>Search</span>
    <input type="text" name="" value="">
  </section>


  <section *ngIf="api.getUsers().length > 0">
  <!--<section *ngIf="usersService.get().length > 0">-->
    <div class="" *ngFor="let u of api.getUsers(); let i = index">
      <p>ID - {{u.getId()}}</p>
      <p>Name - {{u.getName()}}</p>
      <a routerLink="/users/{{u.getId()}}">Profile</a>
    </div>

  </section>

</div>
