<div class="post-container">

  <div class="centered">

    <h3 class="title"><a href="/post/{{data.id}}">{{data.title | titlecase}}</a></h3>

    <div [@openClose]="[reduced] ? 'closed':'open'">

      <p *ngIf="reduced">{{data.content | slice:0:30}}</p>
      <p *ngIf="!reduced">{{data.content}}</p>

      <button type="button" name="button" (click)="toggleReduced()" *ngIf="reduced" class="read-more-btn">Read more</button>
      <button type="button" name="button" (click)="toggleReduced()" *ngIf="!reduced">Close</button>

    </div>

     <div class="">
       {{data.date | date}}
     </div>

  </div>

</div>
