//
// .post-container {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   width: 100%;
//   justify-content:center;
//   // margin-left:auto;
//   // margin-right:auto;
//   background-color: rgba(125,125,125,0.7);
//   border-radius: 5px;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }
//
// .centered {
//   // margin-right: auto;
//   // margin-left: auto;
//   margin: auto;
//
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   width: 100%;
//   justify-content:center;
//
//   // align-self: center;
//   // padding-top: 10px;
//   // padding-bottom: 10px;
//
// }
//
// .title {
//   color:gray;
//   // margin-bottom: 2px;
// }
//
// .read-more-btn {
//   color:black;
//   background-color: rgba(255,125,125,0.4);
// }
