<section>
  <div class="" *ngFor="let message of messagesService.get(); let i = index">
    <p>{{message.getTitle()}}</p>
    <p>{{message.getContent()}}</p>
    <p>{{message.getDate() | date}}</p>
    <p>{{message.getAuthor()}}</p>
    <p>{{message.getReceiver()}}</p>
  </div>
</section>
