<div class="main-container">
  <h2 class="page-title">User {{(get().getName())}}</h2>
  <section>
    <h3>Messages</h3>
    <!--<list-messages [id]="get().getId()"></list-messages>-->
  </section>
  <section>
    <h3>Posts</h3>
    <!-- <list-posts [id]="get()[0].getId()"></list-posts> -->
  </section>

</div>
