<div class="" id="navPublishButton" *ngIf="users.get() > 0">

  <button type="button" name="button" (click)="togglePopup()">{{opened ? 'Close' : 'Submit a blog post'}}</button>

</div>

<!-- <div class="" id="formPostPopup"> -->
  <div class="" id="formPostPopup" *ngIf="opened" ngIf="users.get() > 0">
    <h3 class="white">Submit a blog post</h3>
  <form>
    <label for="user-select">User</label>
    <select class="" name="" id="user-select" #selectedUser>
      <option *ngFor="let user of users.get(); let i = index" value="user.getId()">{{user.getName()}}</option>
      <!-- <option *ngRepeat='user in users' value="{{user.getId()}}" >{{user.getName()}}</option> -->
      <!-- <option value="0" (click)="setUser({{}})" >Test</option> -->
    </select>

    <label for="new-post">Content</label>
    <!-- <input type="text" name="name" id="new-post" #content /> -->
    <textarea name="name" rows="8" cols="80" id="new-post" #content></textarea>

    <button type="button" name="button" (click)="post(content.value)" id="post-blog-btn">Post</button>
  </form>
</div>
