#navPublishButton {
  display:inline-block;
  float:right;
  padding:25px;
}
div#formPostPopup {
  width:25vw;
  height:45vh;
  background-color: rgba(0,50,180,0.8);

  position: absolute;
  top:9vh;
  right:1vw;

  align-content: justify;
  z-index: 10;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  overflow-y: auto;
  overflow-x: hidden;
}
div#formPostPopup label {
  display: block;
  padding:5px;
}



#new-post {
  display: block;
  width:200px;
  // height:20%;
  height:200px;
  word-break: break-all;
}

#post-blog-btn {

}

.white {
  color:white;
}

label {
  color:white;
}
