// .main-container {
//
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content:center;
//
//   // width:80vh;
//   height:auto;
//
//   overflow-y: auto;
//   overflow-x: hidden;
// }
//
// /* We tell all items to be 100% width, via flex-basis */
// .main-container > * {
//   flex: 1 100%;
// }
//
// /* We rely on source order for mobile-first approach
//  * in this case:
//  * 1. header
//  * 2. article
//  * 3. aside 1
//  * 4. aside 2
//  * 5. footer
//  */
//
// /* Medium screens */
// @media all and (min-width: 600px) {
//   /* We tell both sidebars to share a row */
//   // .aside { flex: 1 auto; }
// }
//
// /* Large screens */
// @media all and (min-width: 800px) {
//   /* We invert order of first sidebar and main
//    * And tell the main element to take twice as much width as the other two sidebars
//    */
//   // .main { flex: 2 0px; }
//   // .aside-1 { order: 1; }
//   // .main    { order: 2; }
//   // .aside-2 { order: 3; }
//   // .footer  { order: 4; }
// }
//
// .page-title {
//   height: 50px;
//   color:lightgreen;
// }
//
// app-footer {
//   position: fixed;
//   bottom: 0;
//   // width:
//   width:auto;
// }
