/* You can add global styles to this file, and also import other style files */

@import './assets/Montserrat/Montserrat-Regular.ttf';
@import 'assets/Space_Mono/SpaceMono-Regular.ttf';
@import "fontisto/css/fontisto/fontisto.css";


$g-width : 98%;
$g-margins : 10px;
$g-padding : 40px;


// Main container is just acting as a box, then the css rules in this
// will be computed by component individually
.main-container {
  position: absolute;
  top: 8vh;
  height: 84vh;
  margin: $g-margins;

  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content:center;

  // width:80vh;
  // height:auto;

  overflow-y: auto;
  overflow-x: hidden;
}

/* We tell all items to be 100% width, via flex-basis */
.main-container > * {
  flex: 1 100%;
}

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  // .aside { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  // .main { flex: 2 0px; }
  // .aside-1 { order: 1; }
  // .main    { order: 2; }
  // .aside-2 { order: 3; }
  // .footer  { order: 4; }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Space Mono', monospace;
}

.page-title {
  height: 50px;
  color:lightgreen;
}

app-header {
  position: fixed;
  left:0;
  top: 0;
  margin:$g-margins;
  width: $g-width;
}

app-footer {
  position: fixed;
  left:0;
  bottom: 0;
  margin:$g-margins;
  width: $g-width;
}

ul.no-style-list > li {
  list-style-type:none;
  display:inline-block;
  margin:5px;
  // background-color: rgba(125,200,125,0.7);
  > a {
    text-decoration: none;
    color:white;
    font-size: 1.2em;
  }
}

ul.no-bullet-list {
  list-style-type:none;
  padding: 0;
}

ul.no-bullet-list > li {
  list-style-type:none;
  padding: 0;
}

auth-comp {
  float:right;
}

