<nav>

  <ul class="no-style-list inlined left-padded">
    <li><a routerLink="/" >Home</a></li>
    <li><a routerLink="/posts">Posts</a></li>
    <li><a routerLink="/users">Users</a></li>
  </ul>

<!--
  <publish-button></publish-button>
-->

  <ul class="no-style-list inlined right-padded auto-left-margin">
    <li>
      <auth-comp></auth-comp>
    </li>
  </ul>

</nav>
