$g-padding : 40px;

ul {
  margin:auto;
  margin-left: 0;
  margin-right: 0;
}

.inlined {
  display: inline-block;
  float:left;
}

nav {
  height: 8vh;
  max-height: 8vh;
  overflow-y: auto;
  display: flex;
  overflow-y: auto;
  background-color: rgba(20,200,80,0.6);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.left-padded {
  padding-left: $g-padding;
}

.right-padded {
  padding-right: $g-padding;
}

.auto-left-margin {
  margin-left: auto;
}
