// app-footer {
//   position:absolute;
//   bottom: 0;
// }
nav {
  height: 8vh;
  max-height: 8vh;
  width: 100%;
  overflow-y: auto;
  display: flex;
  background-color: rgba(20,200,80,0.6);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  // text-align: center;
  // padding-top:30px;
  // padding-bottom: 30px;
}

p {
  margin: auto;
  text-align: center;
  // display: inline;
  // margin-top:auto;
  // margin-bottom: auto;
  // padding-top: auto;
  // padding-bottom: auto;
  // vertical-align: middle;
  color:white;
}

//     text-decoration: none;
